
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    background-image:
    linear-gradient(to bottom, rgba(103, 106, 141, 0.52), rgba(255, 191, 200, 0.73)),
    url('123.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 


.header{
    padding: 10px;
}
.nyuulogo{
        width: 100px;
        max-width: 100%;   
        
    }



.navegacao{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      float: right;
      padding: 24px;
      gap: 1rem;
      color: #FFA8CD;
      font-family: 'Source Sans Pro', sans-serif;
    }
    
.menuitem{
        color:#000000
    }


    section{  
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        display: flex;
        justify-content: center;
        height: auto;
        width: auto;
        padding: 2rem;
        grid-template-columns: 300px 1fr;
        gap: 1rem;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        font: 500 100%/1.5 system-ui;
        flex-direction: column;
        
        
        
    } 


.tudodedentro{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

    
.gifstexto{
    font-family: 'Montserrat', sans-serif;
    color:#EBB59D;
    font-size: 60px;
    font-weight: Thin;
    letter-spacing: 10px;
}



.gifdoistexto{
    color: #EBB59D;
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
    letter-spacing: 10px;
    font-size: 20px;
}

.linha{
    display: block;
    height: 1px;
    width: 400px;
    border: 0;
    border-top: 1px solid #FFFFFF2E; 
    padding: 0;
}


.designtexto{
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: Thin;  
    
}

.footers{
        font-family: 'Montserrat', sans-serif;
        color: #000000;
        font-size: 15px;
        opacity: 30%;
    }
    
    
    
        